/**
* 公共样式
* 不需要随主题更换
**/ 

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 10px 20px;
}