@use '_theme-dark-variables' as dark;

.theme-dark {
  --color-bg: #{dark.$color-bg};
  --color-text: #{dark.$color-text};
  --color-primary: #{dark.$color-primary};
  --color-border: #{dark.$color-border};
  --font-family: #{dark.$font-family};
  --border-radius: #{dark.$border-radius};
  
  .bg-secondary {
    background-color: dark.$color-primary;
  }

  .color-text-style {
    color: dark.$color-text;
  }
}