@use '_theme-light-variables' as light;
@use 'common';

.theme-light {
  --color-bg: #{light.$color-bg};
  --color-text: #{light.$color-text};
  --color-primary: #{light.$color-primary};
  --color-border: #{light.$color-border};
  --font-family: #{light.$font-family};
  --border-radius: #{light.$border-radius};

  .bg-secondary {
    background-color: light.$color-primary;
  }

  .color-text-style {
    color: light.$color-text;
  }
}